/META.*
/MYMETA.*
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/blib/
/pm_to_blib
/_eumm/
!/.gitignore
/*.bs
/*.c
/*.o
!/stolen_chunk_of_toke.c
/cover_db/
*.gc??
/test-mydeps-*
/nytprof*
/inc/
/Devel-Declare-*/
/Devel-Declare-*.tar.gz
/Declare.*
!/Declare.xs
/Debian*
/README
/Distar/
/MANIFEST.SKIP
/MANIFEST.SKIP.bak
/.perldb
/.ackrc
